# Environment variables

# Local development
## Optional: defaults to 5173 if not set
VITE_DEV_PORT=5173

## Optional: defaults to localhost and 127.0.0.1 if not set
VITE_DEV_ALLOWED_HOSTS=localhost,127.0.0.1

# API configuration
VITE_API_BASE_URL=http://localhost:8000/api/v1
# Google OAuth
# Guide: https://developers.google.com/identity/gsi/web/guides/get-google-api-clientid#get_your_google_api_client_id
VITE_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com


